* {
  font-family: "Roboto", sans-serif;
}

body{
    background-color: rgb(255, 230, 247);
    margin: 0;
}

#pedido {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: green;
  color: #ffff;
  font-size: 1.4rem;
}

#lista{
    background-color: white;
    margin: 2%;
    width: 50%;
    border-radius: 10px;
    padding: 2%;
}

li{
    margin-top: 2%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

button{
    border: none;
    background-color: rgb(255, 0, 170);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 0.5%;
    border-radius: 5px;
}


span{
    background-color: rgb(255, 0, 170);
    padding: 0.5%;
    margin: 1%;
    color: white;
    border-radius: 100%;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

hr{
    height: 1px;
    background-color: rgb(192, 192, 192);
    border: none;
}

